{% autoescape false %}

<table class="table table-hover table-aql">
  <thead>
    <tr>
      {% for header in table.columns %}
      <th>{{ header }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% autoescape false %}
    {% for row in table.rows %}
    <tr>
      {% for column in row.columns %}
      <td>
        {{ column.value }}
      </td>
      {% endfor %}
    </tr>
    {% else %}
        <tr>
          <td colspan="{{ table.columns|length }}">
            <div class="text-center"><em>{{ lang_get('global.empty_result') }}</em></div>
          </td>
        </tr>
    {% endfor %}
    {% endautoescape %}
  </tbody>
</table>

{% endautoescape %}