{% autoescape false %}

<table class="table table-hover table-aql">
  <thead>
    <tr>
      {% for column in table.columns %}
      <th>{{ column.title }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% autoescape false %}
    {% for row in table.rows %}
    <tr>
      {% for column in table.columns %}
      <td>
        {{ column.value(row) }}
      </td>
      {% endfor %}
    </tr>
    {% else %}
        <tr>
          <td colspan="{{ table.columns|length }}"><div class="text-center"><em>{{ lang_get('global.empty_result') }}</em></div></td>
        </tr>
    {% endfor %}
    {% endautoescape %}
  </tbody>
</table>
<div class="table-footer">
  {{ table.pagination }}
</div>

{% endautoescape %}