{% autoescape false %}

<div class="control-group{% if errors.has(control.name) %} error{% endif %}">
    {{ control.label }}
    <div class="controls">
    {% if errors.has(control.name) %}
        {{ control.getWidget(null, {'class': 'error'}) }}
        <span class="help-inline">{{ errors.first(control.name) }}</span>
    {% else %}
        {{ control.widget }}
    {% endif %}
    </div>
</div>

{% endautoescape %}