{% autoescape false %}

<fieldset>
    <legend id="{{ fieldset._key }}">{{ fieldset._legend }}</legend>

    {% for control in fieldset._controls %}
        {{ control }}
    {% endfor %}

</fieldset>

{% endautoescape %}