{% autoescape false %}

    {{ form.open() }}

        {% for fieldset in form._fieldsets %}

            {{ fieldset }}

        {% endfor %}

        {% include 'support::form.actions' %}

    {{ form.close() }}

{% endautoescape %}