{% autoescape false %}

{% if(model) %}
  {{ form_model(model, attributes) }}
{% else %}
  {{ form_open(attributes) }}
{% endif %}

<fieldset>

  {% for legend, _controls in controls %}

    <legend>{{ fieldsets.legend|default(legend) }}</legend>

    {% for control in _controls %}
      <div class="control-group{% if(errors.has(control.name)) %} error {% endif %}">
        <label for="{{ control.name }}" class="control-label">{{ control.label }}</label>
        <div class="controls">
          {# control.widget() #}
        </div>
      </div>
    {% endfor %}

  {% endfor %}

  {#
  @if($hiddens)
  @foreach($hiddens as $hidden)
  {{ $hidden() }}
  {% endforeach %}
  @endif
  #}

  <div class="form-actions">
    {{ actions|join('\n') }}
  </div>

</fieldset>

{{ form_close() }}

{% endautoescape %}